<div id="<%= dom_id question %>">
  <p>
    <strong>Category:</strong>
    <%= question.category %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= question.position %>
  </p>

</div>
