<p style="color: green"><%= notice %></p>

<% content_for :title, "Questions" %>

<h1>Questions</h1>

<%= "Debug: @questions count: #{@questions.count}" %>  <!-- デバッグ追加 -->

<% if @questions.any? %>
  <div
    data-controller="likert"
    data-likert-questions-value="<%= @questions.as_json(only: [:id, :content]).to_json %>">

    <div data-likert-target="question"></div>

    <div data-likert-target="result" style="display: none;">
      <p>完了しました！</p>
    </div>

  </div>
<% else %>
  <p>質問がありません。</p>
<% end %>

<%= link_to "New question", new_question_path %>
