<p style="color: green"><%= notice %></p>

<% content_for :title, "Questions" %>

<h1>Questions</h1>

<% if @questions.any? %>
  <% @questions.each do |question| %>
    <div>
      <p><%= question.content %></p>
      <div>
        <button>1 (Strongly Disagree)</button>
        <button>2 (Disagree)</button>
        <button>3 (Neutral)</button>
        <button>4 (Agree)</button>
        <button>5 (Strongly Agree)</button>
      </div>
    </div>
  <% end %>
<% else %>
  <p>質問がありません。</p>
<% end %>

<%= link_to "New question", new_question_path %>
