<div data-controller="likert" data-likert-questions="<%= @questions.to_json %>">
  <div data-likert-target="question">
    <!-- 初期質問はStimulusで表示 -->
  </div>
  <div data-likert-target="result" style="display: none;">
    <p>完了しました！</p>
  </div>
</div>