<div data-controller="likert" data-likert-questions-value="<%= @questions.as_json(only: [:id, :content]).to_json %>">
  <div data-likert-target="question">
    <!-- 初期質問はStimulusで表示 -->
  </div>
  <div data-likert-target="result" style="display: none;">
    <p>完了しました！</p>
  </div>
</div>