<div class="inquiry-container">
  <h1 class="inquiry-title">お問い合わせ</h1>

  <div class="inquiry-content">
    <section class="inquiry-section">
      <p>
        お問い合わせ、不具合の報告などございましたら、以下のXアカウント(@katapyooon)までご連絡ください。ご感想もお待ちしております。
      </p>
    </section>

    <div class="x-link">
      <%= link_to "https://x.com/katapyooon", target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag "logo-black.png", alt: "X (Twitter) Logo", class: "x-logo" %>
      <% end %>
    </div>
  </div>
</div>
