<p>
こんにちは<br>
reptypeにようこそ<br>
このアプリは、あなたにおすすめの爬虫類を診断するアプリです！<br>
質問に答えると、あなたにぴったりの爬虫類を診断します！<br>
ぜひ、診断してみてください！<br>
</p>

<div>
  <h2>使い方</h2>
    <br>「回答する」ボタンをクリックして、質問に回答してください。</br>
    <%= button_to '回答する', answer_question_path(@question), method: :post %>
</div>
 