<p>
Home<br>
こんにちは<br>
reptypeにようこそ<br>
このアプリケーションは、質問と回答を管理するためのシンプルなプラットフォームです。
</p>

<div>
  <h2>使い方</h2>
  <ol>
    <li>「回答する」ボタンをクリックして、質問に回答してください。</li>
    <li>回答が保存され、後で確認できます。</li>
  </ol>
    <%= button_to '回答する', answer_question_path(@question), method: :post %>
</div>
 