<p style="color: green"><%= notice %></p>

<% content_for :title, "Results" %>

<h1>Results</h1>


<!-- questionから渡されたr結果を表示する(表示するのは、typeテーブルのnameとdescription) -->
<% @results.each do |result| %>
  <div class="result">
    <h2><%= "あなたの結果は #{result.type.name} です！" %></h2>
    <p><%= result.type.description %></p>
  </div>
<% end %>   


