<p style="color: green"><%= notice %></p>

<% content_for :title, "Result" %>

<h1>Result</h1>

<%= render @result %>

<div style="margin-top: 2rem;">
  <%= link_to "もう一度診断する", questions_path, class: "btn btn-primary" %>
</div>
