<p style="color: green"><%= notice %></p>

<% content_for :title, "Result" %>

<h1>Result</h1>

<%= render @result %>

<div style="margin-top: 2rem; display: flex; gap: 1rem; justify-content: center;">
  <%= link_to "もう一度診断する", questions_path, class: "btn btn-primary" %>
  <% if @result.type.image_path.present? %>
    <%= link_to "質問してみよう！", result_chat_path(@result), class: "btn btn-success" %>
  <% end %>
</div>
